.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
}

.subtitle {
  color: var(--grey-600);
  max-width: 90%;
}
