.container {
  flex: 1;
  flex-direction: column;
  padding: 62px 87px;
  border-radius: 12px;
  border: 2px solid var(--grey-150);

  background-image: linear-gradient(to right, #0f0f0f, #1414149c, #e500009a),
    url("/images/thumbnail-preview-films-and-series.png");
  background-repeat: no-repeat;
  background-size: cover; /* ajuste conforme necessário */
  background-position: top; /* ajuste conforme necessário */
  background-position-y: top;
}
