.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 21px;
}

.card {
  background-color: var(--grey-100);
  border: 1px solid var(--grey-150);
  border-radius: 8px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card div h2 {
  font-size: 20px;
  font-weight: 500;
}

.card p {
  color: var(--grey-600);
}

.card h1 {
  font-weight: 500;
}

.card h1 span {
  color: var(--grey-600);
  font-size: 16px;
}

.footer {
  display: flex;
  gap: 12px;
}
